*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
		--white: #FFFFFF;
		--background: #FAFAFA;
		--card: #F3F2F2;
		--input: #EDEDED;
		--button: #E6E5E5;
		--hover: #D7D5D5;
		--label: #8D8686;
		--text: #574F4D;
		--subtitle: #403937;
		--title: #272221;
		--error: #f84747;
		--brand-purple-dark: #4B2995;
		--brand-purple: #8047F8;
		--brand-purple-light: #EBE5F9;
		--brand-yellow-dark: #C47F17;
		--brand-yellow: #DBAC2C;
		--brand-yellow-light: #F1E9C9;
}

body{
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	color: var(--subtitle);
	/* font-family: 'Baloo 2', cursive; */
}